<h1 class="project">Where to eat </h1>
<div class="list">
<!-- <ul> -->
  <% @restaurants.each do |restaurant| %>
    <!-- <li> -->
      <a href="<%= restaurant_path(restaurant.id) %>">
        <%= restaurant.name %>
      <!-- </a>
      <%= restaurant.restaurant_image %> -->
 <br>
    <!-- </li> -->
    <% end %>
<!-- </ul> -->
</div>
