<h1>Ramen Restaurants </h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="<%= restaurant_path(restaurant.id) %>">
        <%= restaurant.name %>
      </a>
      <%= restaurant.restaurant_image %>



    </li>
    <% end %>
</ul>
