// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ramenImages{
  background: white;
padding: 30px;
/* height: 30vh;
width: 15vw; */
}

.title {
  text-align: center;
  margin-top:30px;
  margin-bottom: 20px;
  margin-top:30px;

}

.project {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 25px;


}
.list{
  text-align: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;

}

body {
    align-items: center;
  font-family: 'Poppins', sans-serif;
}

.name {
  text-align: center;
  margin-top: 10px;
}


.restaurant-content {
  margin-left: 20px;
  margin-right: 20px;
}

.row > div {
  // border: 1px solid red;
}

div.restaurant_show {
  margin-left: 6vw;
  margin-right: 6vw;
}

div.restaurant_show .row{
  margin-top: 2vh;
}
