// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ramenImages{
  background: white;
padding: 30px;
/* height: 30vh;
width: 15vw; */
}

.title {
  text-align: center;
  margin-top:30px;
  margin-bottom: 20px;
}
